# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Data files (DO NOT COMMIT)
# =========================
data/
*.csv
*.parquet
*.xlsx
*.json

# =========================
# Models & outputs
# =========================
models/
outputs/
*.pkl
*.joblib

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# Spark / Databricks
# =========================
spark-warehouse/
metastore_db/
derby.log
